@import "gift";
$baseWidth:950px;
$baseHeight:300px;
.header{
    .header_top{
        background: rgba(0, 14, 34, 0.9);
    }
}
.productInfo_top{
    width:100%;
    // height: 989px;
    .productInfo_main{
        background: url(../img/RRbackground.jpg);
        padding:{
            top:205px;
            bottom:60px;
        }
        .productInfo_main_box{
            width: 1000px;
            height: 607px;
            margin: 0 auto;
            background: white;
            .productImg_Container,.productAction_Container{
                width:500px;
                height:607px;
                // background: blue;
                float: left;
            }
            .productImg_Container .productImg_Container_img{
                width:500px;
                height:500px;
                position:relative;
                // background:pink;
                img{
                    height:100%;
                    width:100%;
                }
                .newArriaw{
                    position: absolute;
                    width:64.8px;
                    height:64.8px;
                    border-radius: 50%;
                    background: black;
                    top:15px;
                    left: 15px;
                    &:after{
                        content:"新品";
                        font-size: 11px;
                        color:white;
                        position: absolute;
                        top:22px;
                        left: 20px;
                    }
                }
            }
            .productAction_Container{
                padding: 25px 70px;
                width:360px;
                height:557px;
                background-color: #fafafa;
                h1{
                    width:306px;
                    height:54px;
                    padding:{
                        top:10px;
                        left:20px;
                        right:20px;
                    }
                    font-size: 24px;
                    letter-spacing: 4px;
                    text-align: center;
                    span{
                        font-size: 14px;
                        text-align: center;
                        display:block;
                        height: 18px;
                        width:306px;
                        padding-bottom: 5px;
                    }
                    margin:7px auto 40px;
                }
                .product_color{
                    margin:0 auto;
                    width:346px;
                    height:72.2px;
                    padding-bottom:  20px;
                    border-bottom: 1px solid #ddd;
                    h3{
                        text-align: center;
                        width:100%;
                        height:15.2px;
                        font-size: 12px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                    .product_select_attribute{
                        padding:{
                            top:10px;
                        }
                        width:346px;
                        height:42px;
                        .product_color_attr{
                            position: relative;
                            margin:0 auto;
                            border-radius: 50px;
                            width: 28px;
                            height:28px;
                            border:1px solid rgb(71, 158, 122);
                            background-image: radial-gradient(circle,#ffe9cf,#e8d2ad,#d8cba1);
                            &:after{
                                height:10px;
                                width:10px;
                                text-indent: 2px;
                                font-size: 10px;
                                position: absolute;
                                top:-2px;
                                right:-4px;
                                border:1px solid rgb(71, 158, 122);
                                display:block;
                                border-radius: 50%;
                                color: rgb(71, 158, 122);
                                content:"√";
                                background: white;
                            }
                        }
                    }
                    
                }
                .product_size{
                    width:316px;
                    height:80px;
                    padding:20px 15px;
                    padding-bottom: 0px;
                    margin:0 auto;
                    .attribute-header{
                        margin:10px auto 5px;
                        width:316px;
                        height:12px;
                        line-height: 12px;
                        font-size: 12px;
                        text-align: center;
                    }
                    .sizes{
                        width: 316px;
                        height: 50px;
                        text-align: center;
                        a{
                            line-height: 50px;
                            .size-text{
                                margin:{
                                    left:13px;
                                    right:6px;
                                }
                                display:inline-block;
                                height: 28px;
                                width: 28px;
                                border:1px solid black;
                                border-radius: 50%;
                                font-size: 11px;
                                text-align: center;
                                line-height: 28px;
                            }
                            &:nth-child(1) {
                                .size-text{
                                    background: rgb(71, 158, 122);
                                    border:1px solid rgb(71, 158, 122);
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .purchaseBox{
                    color: #cdbc7a;
                    width: 360px;
                    height:76.8px;
                    text-align: center;
                    font-size: 13px;
                    margin:0 auto;
                    .purchaseBox_button{
                        background: black;
                        text-align: left;
                        display: block;
                        width: 318px;
                        margin:26px auto 0;
                        height:48px;
                        box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
                        padding:{
                            left:20px;
                            right: 20px;
                        }
                        .btn-price{
                            width: 170px;
                            border-right: 1px solid #867d56;
                            display:inline-block;
                            height:13px;
                            margin-top: 16px;
                            text-align: center;
                        }
                        .price,.btn-label{
                            letter-spacing: 2px;
                            // line-height: 48px;
                            font-size: 13px;
                            line-height: 11px;
                        }
                        
                        .btn-label{
                            font-size: 10px;
                            display:inline-block;
                            margin-left: 55px;
                            span{
                                line-height: 7px;
                            }
                        }
                        border: 1px solid #cdbc7a;
                    }
                    .shoppingDate{
                        color:black;
                        text-align: left;
                        height:17px;
                        width: 100%;
                        margin:{
                            top:10px;
                            bottom:5px;
                        }
                    }
                    #share {
                        width: 360px;
                        height: 40px;
                        margin:10px auto 10px;
                        line-height: 40px;
                        text-align:center;
                        .icon{
                            color:rgb(163, 163, 163);
                            margin:0 10px;
                            font-size: 22px;
                            vertical-align: middle;
                        }
                        p{
                            font-size: 16px;
                            height:16px;
                            color:black;
                            margin-right: 20px;
                            display:inline-block;
                        }
                    }
                    .custom_bottom{
                        border-radius: 1px;
                        padding: 0 20px;
                        width: 318px;
                        height:48px;
                        border:1px solid rgb(205, 188, 122);
                        background: rgb(205, 188, 122);
                        color: black;
                        font-size: 10px;
                        box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
                        line-height: 48px;
                    }
                }
            }
            .productImg_Container_smallImg{
                width:500px;
                height:107px;
                background:white;
                box-sizing: border-box;
                padding:10px;
                .productImg_Container_smallImg_showBox{
                    overflow: hidden;
                    width:380px;
                    height:87px;
                    padding:0 50px;
                    position:relative;
                    .smallImg_leftArrow,.smallImg_rightArrow{
                        position: absolute;
                        background-image: url(../img/arrow.png);
                        background-position:0px 0px;
                        background-size: 60px 30px;
                        left:10px;
                        top:30px;
                        width:30px;
                        height: 30px;
                        border-radius: 50%;
                        // background:white;
                        z-index:2;
                        box-shadow: 0 0 5px #ddd;
                    }
                    .smallImg_rightArrow{
                        background-position:30px 0px;
                        left:448px;
                    }
                    .smallImg_showBox_LongBox{
                        // transition: .5s;
                        img{
                            height:87px;
                            width:87px;
                            margin:{
                                left:20px;
                                right:20px;
                            }
                            float: left;
                            opacity: 0.5;
                            &:nth-child(2){
                                opacity: 1;
                            }
                        }
                        position:relative;
                        top:0;
                        left: 0px;
                        width: 1905px;
                        height:87px;
                    }
                }
            }
        }
    }
    .custom_made{
        width:100%;
        position: relative;
        height:202px;    
        box-shadow: 0 5px 5px rgba(211,211,211,.6);
        padding:{
            top:40px;
            bottom:20px;
        }
        margin-top: -60px;
        background:white;
        .custom_item{
            width:1000px;
            height:42px;
            margin: 0 auto 45px;
            hr{
                position: relative;
                top:32px;
                left:214px;
                width:620px;
                border:0;
                border-top: 1px solid #acacac;
                // margin: 0 auto;
                size: .5;
            }
            .custom-item_rt{
                width:80px;
                height:45px;
                padding:0 60px 0 25px;
                float: right;
                color: rgb(109, 109, 109);
                line-height: 63px;
                .icon{
                    margin-left: 25px;
                    color:rgb(109, 109, 109);
                }
            }
            
            .custom_item_left{
                width:211px;
                height:45px;
                display: inline-block;
                .squareBox{
                    float: left;
                    width:18px;
                    height:18px;
                    margin:10px 15px 0 70px;
                    background:#e5e5e5;
                    // position: relative;
                    // &:after{
                    //     display:inline-block;
                    //     height: 18px;
                    //     width:18px;
                    //     position: absolute;
                    //     top:10px;
                    //     right:10px;
                    //     background: gray;
                    //     border-radius: 3px;
                    // }
                }
                .custom_item_left_tit{
                    padding-right: 15px;
                    display: inline-block;
                    color: #6d6d6d;
                    width:93px;
                    height:37px;
                    span{
                        letter-spacing: 3px;
                        display:block;
                        font-size: 18px;
                        line-height: 18px;
                        &:nth-child(2){
                            line-height: 10px;
                            letter-spacing: 1.2px;
                            font-size: 10px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .add-custom-cart{
            cursor: pointer;
            width:304px;
            height: 58px;
            margin:0 auto;
            border:1px solid rgb(133, 113, 77);
            line-height: 58px;
            span{
                &:nth-child(1){
                    b{
                        font-size: normal;
                    }
                    border-right: 1px solid rgb(133, 113, 77);
                }
                height: 13px;
                text-align: center;
                line-height: 13px;
                display: inline-block;
                width: 49%;
                margin-top: 20px;
                font-size: 13px;
                color: rgb(133, 113, 77);
            }
        }
        .showmore_custom{
            position: absolute;
            bottom:-30px;
            left: 730px;
            width:55px;
            height:55px;
            border-radius: 50%;
            background: rgb(206, 189, 120);
            box-shadow: 0 5px 5px rgba(211,211,211,.6);
            span{
                display:inline-block;
                color:black;
                font-size: 20px;
                font-weight: bolder;
                transform:translate(18px,15px) rotate(180deg);
            }
        }
    }
    .product_parameter_list{
        width:950px;
        // height:757px;
        margin: 30px auto 30px;
        background:black;
        padding-bottom: 45px;
        .product_describe{
            width:960px;
            height:137px;
            background:white;
            padding:{
                top:20px;
                bottom:40px;
            }
            h2{
                text-align: center;
                font-size: 20px;
                letter-spacing: 3px;
                margin-bottom: 20px;
            }
            p{
                width:500px;
                height:100px;
                margin:0 auto;
                letter-spacing: 1.5px;
                line-height: 25.2px;
                color:rgb(117, 117, 117);
                font-size: 13px;
                text-align: center;
            }
        }
        .product_parameter_img{
            width: 950px;
            height: 409px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .product_parameter_info{
            ul{
                color: rgb(0, 8, 28);
                font-size: 13px;
                line-height: 13px;
                li{
                    padding:18px 0;
                    width:346px;
                    height:12.8px;
                    border-bottom: 1px solid #ddd;
                    float: left;
                    &:nth-child(odd){
                        margin-right: 39px;
                    }
                    &:nth-child(even){
                        margin-left: 39px;
                    }
                    .pro-label{
                        width:100px;
                        height:13px;
                        float: left;
                        display:block;
                    }
                    .pro-value{
                        color:#757575;
                        text-align: right;
                        width:100px;
                        height:13px;
                        display:block;
                        float:right;
                    }
                }
            }
            width: 770px;
            height: 200px;
            margin:0 45px;
            padding:45px;
            padding-top: 27px;
            background: white;
        }
    }
    .product_config{
        width:$baseWidth;
        height:$baseHeight;
        background: rgb(244, 244, 244);
        margin:0 auto 10px;
        position:relative;
        img{
            height: 100%;
            margin-left: 90px;
            float: left;
        }
        video{
            outline: none;
            float: left;
        }
        .widget-marv-hero__inner{
            position: absolute;
            top:84px;
            left: 500px;
            h1{
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 4.2px;
            }
            .widget-marv-hero__text{
                width:365px;
                line-height: 25.2px;
                margin-top: 20px;
                color: #757575;
                font-size: 13px;
                text-transform: none;
                letter-spacing: 2.1px;
            }
            width: 365px;
            margin:0 auto;
            text-align: left;
        }
    }
    .product_config_heighter{
        height: 475px;
        background-color: white;
        margin-top: 35px;
        margin-bottom: 0;
        img{
            box-sizing: border-box;
            padding:5px;
            margin-left: 0;
        }
        video{
            box-sizing: border-box;
            padding:5px;
        }
    }
    .product_config_bottom{
        box-sizing: border-box;
        width:950px;
        height:550px;
        padding-top: 84px;
        margin-bottom: 0;
        background: white;
        img{
            margin-left: 0;
            height:100%;
        }
        position: relative;
        .widget-marv-hero__inner{
            position: absolute;
            top:84px;
            left: 280px;
            h1{
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 4.2px;
            }
            .widget-marv-hero__text{
                width:365px;
                line-height: 25.2px;
                height:50px;
                margin-top: 20px;
                color: #757575;
                font-size: 13px;
                text-transform: none;
                letter-spacing: 2.8px;
            }
            width: 365px;
            height: 78px;
            margin:0 auto;
            text-align: center;
        }
    }
    .priceExplain{
        width:1000px;
        margin:0 auto;
        height: $baseHeight;
        border:{
            top:1px solid #ddd;
            bottom:1px solid #ddd;
        }
        position: relative;
        h2{
            top:150px;
            left:0;
            letter-spacing: 2.8px;
            right:897px;
            font-size: 18px;
            position: absolute;
        }
        ul{
            margin:{
                left:200px;
            }
            padding:72px 0;
            width:750px;
            height:155px;
            li{
                width:100%;
                height:46.4px;
                padding-bottom: 40px;
                h3{
                    letter-spacing: 2.8px;
                    height:16px;
                    line-height: 16px;
                    margin-bottom:8px;
                    font-size: 16px;
                }
                p{
                    color:rgb(117, 117, 117);
                    font-size: 13px;
                    line-height: 22.4px;
                    letter-spacing: 1.4px;
                }
            }
        }
    }
}