@import "login";


#sex{
    width:400px;
    height: 50px;
    display: block;
    font-size:$formFontSize - 2px;
    border:$borderStyle;
    color:rgb(211, 211, 211);
    text-indent: 15px;
    option{
        color:rgb(0,8,25);
    }
}
#name{
    width:400px;
    box-sizing: border-box;
}
#agreement{
    width: 400px;
    #agreement_box{
        position: relative;
        top: -2px;
        height:15px;
        width:15px;
        border:$borderStyle;
        &:after{
            content: "";
            display: inline-block;
            width:15px;
            height:15px;
            position: absolute;
            top:0;
            background: white;
            border: $borderStyle;
            border-radius: 2px;
        }
        &:checked {
            &:after {
            content: "✓";
                font-size: 15px;
                line-height: 15px;
                color:red;
            }
        }
    }
      
    a{
        display: block;
        margin-right: 30px;
        width: 240px;
        float: right;
    }
}
#agreement{
    margin:{
        top:0px;
        bottom: 40px;
    }
}